apiVersion: batch/v1
kind: CronJob
metadata:
  name: weather-ingest
  namespace: weather
spec:
  schedule: "*/15 * * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: curl
              image: curlimages/curl
              args:
                - -X
                - POST
                - http://weather-app:3001/ingest
