apiVersion: v1
kind: Service
metadata:
  name: weather-app
  namespace: weather
spec:
  type: NodePort
  selector:
    app: weather-app
  ports:
    - port: 3001
      targetPort: 3001
      nodePort: 30001
